*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

.form{
    max-width: 650px;
    padding: 100px;
    margin: 0 28px;
    border-radius: 10px;
    /*overflow: hidden;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
    background: transparent;
}

h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #eeeeee;
    padding-bottom: 8px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label{
    width: 95%;
    color: #eeeeee;
    font-weight: 400;
    margin: 5px 0;
}

.input-box input, select{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}

option{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}

.input-box input:is, select:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.button-container a{
    text-decoration: none;
    text-align: center;
}

.button-container button,
.button-container a{
    margin-top: 10px;
    padding: 10px 25px;
    display: block;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #0056b3;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.button-container button:hover,
.button-container a:hover {
    color: #000000;
    background: #0056b3;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
