/*CSS FOR SIGN IN PAGE*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/img/pc4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #68c5c9); /* Gradient from left to right */
}

.signin{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

.title{
    font-size: 20px;
    color: #0F2167;
    margin-bottom: 10px;
}

.title.admin-title {
    color: #0F2167;
}

.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 1px solid #0F2167;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    margin: 10px 0;
    border: 1px solid #0F2167;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
}

button:hover {
    color: #fff;
    background: #0F2167;
    border-color: transparent;
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
}

.content{
    color: #fff;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
}

.panel p{
    font-size: 15px;
    padding: 10px 0;
}

.image{
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    margin: 10px 0;
    border: 1px solid #0F2167;
    background: transparent;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
}

.btn:hover {
    color: #ffffff;
    background: #0F2167;
    border-color: transparent;
}
