/*CSS FOR EMPLOYEE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --blue: #287bff;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block flex;
    width: 100%;


    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px  var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px  var(--white);
    pointer-events: none;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.top-bar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.btnEmp{
    height: 100vh;
    width: 100%;
    background: #ebeef1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnEmp2{
    font-size: 15px;
    font-weight: 400;
    padding: 20px;
    margin:900px;
    width: 400px;
    background: #eeeeee;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #0E2954;
    text-align: center;
    text-decoration: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.logo {
    padding: 10px;
    width: 185px;
}

.logo1 img {
    max-width: 100%;
    height: auto;
}

.btn1{
    background-color: #04175e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn1:hover{
    background-color: #0056b3;
}
